*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eceff1;
}
div.background-head{
	background: url(../img/banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -15px;
	height: 500px;
}
div.phrase{
	padding: 80px;
}
img.img-footer{
	width: 140px;
	height: 100px;
}
img.img-nav{
	width: 60px;
	height: 60px;
}
.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 30px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}
.contact .col
{
    margin-bottom: 24px;
}

.contact h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.contact hr
{
    width: 40px;
    margin-bottom: 45px;
}

.contact .contact-holder
{
    padding-left: 40px;
    text-align: left;
}

.contact .contact-holder h6
{
    margin-bottom: 15px;
    text-align: left;
}

.contact .contact-holder p
{
    margin-bottom: 30px;
}
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}
